// IMPORT
@use "sass:math";

// SCREEN RESOLUTION
// $mobile : 768px;
// $tablet : 1024px;

// BACKGROUND COLORS
$primary-color : #0F1214;
$theme-color : #884545;
$cardsBg-color : #1adb91;
$chartsBg-color : #c6d4eb;
$cal-rtBg-color : #ffd900;
$blackBg-color : #000000;
$whiteBg-color : #ffffff;
$redBg-color : #c71414;
$sideBar-color : rgb(47, 41, 41);
$headerBg-color : #606060;

// SCREEN Height width
$screen-width : 100vw;
$screen-height : 100vh;

// SIDEBAR
$CloseSidebar-width : 65px;
$OpenSideBar-width : 240px;

// HEADER
$header-height : 48px;
$header-width : calc(100% - #{$CloseSidebar-width});

// FLEX
$Uni-gap : 10px;

// ASPECT RATIO
$ratio : math.div(16, 9);

// PADDING
$paddingX : 5px;
$paddingY : 5px;

// MARGIN
$marginX : 5px;
$marginY : 0;

// SCROLLBAR
$scrollbar-width : 8px;

// BORDER
$border : 5px;
$border-radius : 8px;
$border-color :$blackBg-color;

//icon
$icon-width:32px;
$icon-height:32px;
